

  <div class="table-responsive card">
    <table class="timetable table ">
      <thead>
        <tr class="text-center">
          <th scope="col"></th>
          <th *ngFor="let day of days">{{day | date:'EEEE dd'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hour of hours">
          {{hour}}
          <th *ngFor="let day of days">
            {{ getTodo(day, hour).description }}
          </th>
        </tr>
        
      </tbody>
    </table>
  </div>
  <!-- timetable -->